body{
    margin:0;
    background-image:("space background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    font-family: Arial, sans-serif;
    text-align:center;
}

h1 {
    font-size: 45px;
    color: cyan;
}

h2 {
    color: white;
}

#chat {
    width: 70%;
    height: 350px;
    margin: 20px auto;
    background: rgba(255,255,255,0.1);
    border: 2px solid cyan;
    border-radius: 15px;
    padding: 15px;
    overflow-y: auto;
}

input {
    width: 50%;
    padding: 12px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 12px 20px;
    border-radius: 10px;
    background: cyan;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.earth {
    position: fixed;
    width: 450px;
    right: -120px;
    top: 50px;
    z-index: 0;
}

.mars {
    position: fixed;
    width: 350px;
    left: -100px;
    bottom: 50px;
    z-index: 0;
}

.moon {
    position: fixed;
    width: 220px;
    right: 300px;
    bottom: 30px;
    z-index: 0;
}
body {
    background: linear-gradient(to bottom, #000428, #004e92);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
}
.user-message {
    background: #0077ff;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: right;
}

.cosmo-message {
    background: rgba(0,255,255,0.2);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: left;
    border: 1px solid cyan;
}
